.appbar-main{
    background-color: rgb(238, 236, 236)!important;
    overflow:hidden;
}

.appbar-tabs{
    background-color: rgba(215, 220, 219, 0.7)!important;
    border-bottom:1px solid rgba(0,0,0,0.25)!important;
    z-index: 2!important;
    height: 25px!important;
    display: flex;
    justify-content: space-between;
}
