html{
    /*background-color: rgb(12, 13, 20)!important;*/
    height:100%!important;
}
body{
    background-color: rgb(253,253,253)!important;
    /* max-width:1000px!important; */
    min-width:500px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    min-height: 100%!important;
    /* border-left: 1px solid rgba(255, 217, 0, 0.4)!important;
    border-right: 1px solid rgba(255, 217, 0, 0.4)!important; */

}

.flex-wrapper{
    display: flex;
    min-height: 100vh!important;
    flex-direction: column;
    justify-content: flex-start;
}

.footer{
    margin-top: auto;
    background-color:rgba(68, 122, 106,0.25);
    border-top:1px solid rgba(0,0,0,0.25);
    text-align: right;
    font-size: 0.65em;
    text-transform: uppercase;
    padding-right: 10px;
    height:25px;
    line-height: 25px;
    box-shadow:inset 0 1px 4px -2px gray
}

.content{
    padding:25px;
    flex-grow: 1;
    background-color: rgb(250, 250, 250);

}

